
/*Elimina los botones del imput number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }
/*------------------------------------------------*/

body{
    background-color: white;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: "Poppins", sans-serif;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.Banner{
    height: 962px;
}
/*.Banner img{
    width: 100%;
}*/
.Banner iframe{
    width: 100%;
    height: 962px;
}

.Presentacion{
    background-image: url(Fotos/Led-Screen-Video-LED-Citsa.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    text-align: center;
    color: white;
    position: relative;
}

#Contenido_presentacion{
    width: 90%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.Quos{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 25px;
}

.Productos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Fotos/pixelcut-export.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}

.Productos h1{
    padding-top: 20px;
}

.Nose {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
}

.Nose div img {
    width: 300px;
}

.IMG_PROD{
    color: white;
}

a{
    text-decoration:none;
    color: white; 
}

.Boton1{
    border: none; 
    color: black; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.40);
    border: 2px solid #e7e7e7;
}

#Contacto{
    background-color: #0056b3;
    color: white;
}

.Form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.Form input{
    padding: 20px 250px 20px 40px;
    text-align: start;
    font-size: 15px;
    margin-bottom: 15px;
    border-radius: 2px;
    border: 1px solid #007bff;
}

.Form textarea{
    text-align: start;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid #007bff;
}

.Boton_Cont{
    border: none;
    color: white;
    padding: 20px 199.5px 20px 199.5px;
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    transition: transform 0.3s ease-in-out; 
}

.Boton_Cont:hover{
    background-color: #007bff;
}

.Boton_Cont:active{
    transform: scale(0.90);
}

.Datos{
    width: 100%;
    height: 70px;
    background-color: #007bff;
}
.Datos p{
    align-items: center;
    display: flex;
    color: white;
    height: 100%;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    
}

@media (max-width: 1050px) {
    .Form{
    grid-template-columns: 1fr;    
    }

    .Boton_Cont{
        border: none;
        color: white;
        padding: 20px 160px 20px 160px;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        background-color: #007bff;
        transition: transform 0.3s ease-in-out; 
    }

}

@media (max-width: 900px) {
    .Banner{
        height: 250px;
    }
    .Banner iframe{
        height: 250px;
    }
    .Form{
    grid-template-columns: 1fr;    
    }

    .Banner img{
        width: 100%;
    }

    .Presentacion{
        height: 350px;
    }

    .Nose {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 20px;
        gap: 30px;
    }
    
    .Nose div img {
        width: 170px;
    }

    .Quos img{
        width: 100%;
    }

    .Form{
        display: grid;
        grid-template-columns: 100%;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .Form input{
        padding: 20px 120px 20px 40px;
        text-align: start;
        font-size: 15px;
        margin-bottom: 15px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }
    
    .Form textarea{
        width:350px;
        height:150px;
        text-align: start;
        font-size: 15px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .Boton_Cont{
        border: none;
        color: white;
        padding: 20px 160px 20px 160px;
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        background-color: #007bff;
        transition: transform 0.3s ease-in-out; 
    }

}





